<form action="/admin/manage" method="POST">
  {% csrf-field %}
  <table class="table table-sm table-hover">
    <thead class="thead-default">
      <tr>
        <th>username</th>
        <th>nickname</th>
        <th>phone no</th>
        <th>admin?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.phone_no }}</td>
        <td>{% if user.admin %}<i class="fa fa-check"></i>{% endif %}</td>
        <td><input type="checkbox" name="users" value="{{ user.id }}" /></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="container">
    <div class="pull-right">
      <div class="form-inline">
        <label for="action">Select action:</label>
        <select class="form-control" id="action" name="action" required>
          <option value="" disabled selected></option>
          <option value="assign">Assign admin</option>
          <option value="revoke">Revoke admin</option>
          <option value="delete">Delete user</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
  </div>
  
</form>
