<form action="/admin/manage" method="POST">
  {% csrf-field %}
  <table class="table">
    <tr>
      <th></th>
      <th>username</th>
      <th>nickname</th>
      <th>phone no</th>
      <th>admin?</th>
    </tr>
    {% for user in content.users %}
    <tr>
      <td><input type="checkbox" name="users" value="{{ user.id }}" /></td>
      <td>{{ user.username }}</td>
      <td>{{ user.nickname }}</td>
      <td>{{ user.phone_no }}</td>
      <td>{% if user.admin %}<i class="fa fa-check"></i>{% endif %}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="container">
    <div class="form-inline">
      <label for="action">Select action:</label>
      <select class="form-control" id="action" name="action" required>
        <option value="" disabled selected></option>
        <option value="assign">Assign admin</option>
        <option value="revoke">Revoke admin</option>
      </select>
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
  
</form>
