<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% ifequal section "overview" %} active{% endifequal %}" href="/member">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% ifequal section "history" %} active{% endifequal %}" href="/member/history/1">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% ifequal section "settings" %} active{% endifequal %}" href="/member/settings/profile">Settings</a>
  </li>
</ul>

{% ifequal section "overview" %}
{% include "normal/normal_overview.html" %}
{% endifequal %}
{% ifequal section "history" %}
{% include "normal/normal_history.html" %}
{% endifequal %}
{% ifequal section "settings" %}
{% include "/settings.html" %}
{% endifequal %}
