<form action="/admin/payment" method="POST">
  {% csrf-field %}
  <table class="table">
    <tr>
      <th></th>
      <th>username</th>
      <th>nickname</th>
      <th>phone no</th>
    </tr>
    {% for user in users %}
    <tr>
      <td><input type="checkbox" name="users" value="{{ user.id }}" /></td>
      <td>{{ user.username }}</td>
      <td>{{ user.nickname }}</td>
      <td>{{ user.phone_no }}</td>
    </tr>
    {% endfor %}
  </table>

  <label for="rent">Rent</label>
  <input id="rent" type="text" name="rent" />
  <br />
  <label for="internet">Internet</label>
  <input id="internet" type="text" name="internet" />
  <br />
  <label for="others">Others</label>
  <input id="others" type="text" name="others" />

  <br /><br />
  <input type="submit" value="Receive Payment">
  
</form>
